asgiref
channels==3.0.4
channels_redis
Django==4.0.0
django_allauth
django-rosetta
djangorestframework
django-modeltranslation
django_user_agents
celery==4.4.2
googletrans==4.0.0-rc1
paypal_checkout_serversdk
python_dateutil
# selenium
braintree
six
stripe
webdriver_manager
xhtml2pdf
psycopg2
pyyaml
paypalrestsdk
daphne
gunicorn
pandas
openpyxl
django-cors-headers



beautifulsoup4==4.12.3
certifi==2024.8.30
charset-normalizer==3.4.0
django-bootstrap-v5==1.0.11
idna
python-dotenv==1.0.1
requests==2.32.3
soupsieve==2.6
sqlparse==0.5.1
urllib3==2.2.3
honcho
jwt

